﻿@model Medarbetarpulsen.Website.Models.ViewModels.UserLoggedInViewModel

@{

}
@if (Session["UserId"] != null)
{
    <h2>USER ID: @Session["UserId"].ToString()</h2>

    @Html.AntiForgeryToken()

    @*<div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div>
            <h4>List of Departments</h4>
            <ul>
                @foreach (var department in Model.Departments)
                {
                    <li>
                        @Html.TextBoxFor(x => department.Name)
                    </li>
                }
            </ul>
        </div>

    </div>*@

    <form asp-controller="Department" asp-action="Save">

        <select asp-for="Name"
                asp-items="@(new SelectList(Model.Departments,"Id","Name"))">
            <option>Please select one</option>
        </select>

        <input type="submit" />

    </form>
}


@Html.ActionLink("Create new Department", "Save", "Department")
@Html.ActionLink("Send out a new form", "Send", "Email")


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
