﻿
@using Medarbetarpulsen.Website.Models
@model DepartmentModel
@(Html.BeginForm("EmailRecipients", "Email", FormMethod.Post))
{
    @Html.AntiForgeryToken()
<div>
    <div>
        <p>Email recipients</p>
        @Html.TextBox("recipients")
    </div>

    <div>
        <p>Email Subject</p>
        @Html.TextBox("subjectText")
    </div>

    <div>
        <p>Email Body</p>
        @Html.TextBox("bodyText")
    </div>
</div>




    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create Email-list" class="btn btn-default" />
        </div>
    </div>
}
